*.exe
*.exe~
*.dll
*.swp
.vscode

cmd/**/*~
cmd/**/*.exe
cmd/freezer/freezer.rs*
cmd/freezer/freezer
cmd/freezer/freezer.key
cmd/freezer/freezer.crt
cmd/freezer/freezer.db*
cmd/freezer/freezer.test*
cmd/freezer/debug.test*
cmd/freezer/testdata
cmd/freezer-gtk/freezer-gtk

tests/*.dat
vendor
