*.exe
*.exe~
*.dll
*.swp
.vscode
cmd/freezer/freezer.rs*
cmd/freezer/freezer
cmd/freezer/freezer.key
cmd/freezer/freezer.crt
cmd/freezer/freezer.exe
cmd/freezer/*.db*
cmd/freezer/testdata
tests/*.dat
